<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="fragments :: nav_bar"></div>
    <div class="row mt-2">
        <div th:if="${param.update_success}" class=" alert alert-info">
            A Client has been updated successfully.
        </div>
        <div th:if="${param.delete_success}" class=" alert alert-info">
            A Client has been deleted successfully.
        </div>
    </div>
    <div th:switch="${clients}">
        <h2 th:case="null">There are no Clients display</h2>
        <div th:case="*">
            <h2>All Clients
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col"><h5>First Name</h5></th>
                    <th scope="col"><h5>Last Name</h5></th>
                    <th scope="col"><h5>Email</h5></th>
                    <th scope="col"><h5>Actions</h5></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client : ${clients}">
                    <td th:text="${client.firstName}"></td>
                    <td th:text="${client.lastName}"></td>
                    <td th:text="${client.email}"></td>
                    <td><a href="#" th:href="@{/clients/edit/{id}(id=${client.id})}" class="btn btn-info">Edit</a></td>
                    <td><a href="#" th:href="@{/clients/delete/{id}(id=${client.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="#" th:href="@{/registration/registration-form}" class="btn btn-info">Add a new client</a> </p>
    </div>
</div>
</body>
</html>